		
<section class="sample-app-content">
    <h1> Please fill up the details:</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <label>Username:</label>
            <input type="text" formControlName="userName">
        </p>
        <p>
            <label>Email:</label>
            <input type="email" formControlName="email">
        </p>
        <p>
            <label>Password:</label>
            <input type="password" formControlName="password">
        </p>
        <p>
            <button type="submit" [disabled]="!form.valid">Submit</button>
        </p>
    </form>
</section>