html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
    color: white;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.content {
    height: 100vh; /* vh = Relative to 1% of the height of the viewport */
}

.form-control {
    border-radius: 0px;
    border: 0px;
}

.btn.btn-primary {
    border-radius: 0px;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #aaa;
}