@font-face {
    font-family: "Quicksand-Regular";
    src: local("Quicksand-Regular.otf"), url(../../../../fonts/Quicksand-Regular);
}

html {
  min-height: 100%;
  box-sizing: border-box;
  background-color: #ffcf33;
  width: 100%;
  margin: 0%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
    color: white;
}

body {
  position: relative;
  /*margin: 0;*/
  /*padding-bottom: 6rem;*/
  min-height: 100%;
  font-family: "Quicksand-Regular", Arial, sans-serif;
  background-color: inherit;
}

.content {
    height: 100vh; /* vh = Relative to 1% of the height of the viewport */
}

.form-control {
    border-radius: 0px;
    border: 0px;
}

.btn.btn-primary {
    border-radius: 0px;
    color: #02C9C9;
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    /*padding: 1em;*/
    background-color: #aaa;
}



.jumbotron{
    background-color: inherit;
    font-family: "Quicksand-Regular", sans-serif;
    min-height: 100%;
    margin-bottom: 0%;
    padding: 0%;
}

#footer.container{
    width: 100%;
}

.ngcontent-hxs-4{
    align-self: center;
}
/*
.btn{
    background-color: #e3dac9;
    border-color: #333333;
    color: #dcdcdc;
}
*/
.btn.btn-primary{
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    border-left-color: #333333;
    border-right-color: #333333;
    color: #333333;
}