@font-face {
    font-family: "Komika_display-webfont";
    src: local("Komika_display-webfont.woff"), url(/client/fonts/Komika_display-webfont.woff);
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
    color: white;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Komika_display-webfont", Arial, sans-serif;
}

.event_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
}

.event_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content {
    height: 100vh; /* vh = Relative to 1% of the height of the viewport */
}

.form-control {
    border-radius: 0px;
    border: 0px;
}

.btn.btn-primary {
    border-radius: 0px;
    color: #02C9C9;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /*padding: 1em;*/
    background-color: #aaa;
}



.jumbotron{
    background-color: #FFC300;
    font-family: "Komika_display-webfont", sans-serif;
    height: 100%;
    margin-bottom: 0%;
    padding: 0%;
}

#footer.container{
    width: 100%;
}

.ngcontent-hxs-4{
    align-self: center;
}

