<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-4" id="login-header">
      <p>Change Password!</p>
    </div>
    
    <div class="">
      <div class="form-group col-xs-8 col-xs-offset-4">
        <input [(ngModel)]="user.email" type="email" class="form-control" placeholder="Email" />
      </div>

      <div class="form-group col-xs-8 col-xs-offset-4">
        <input [(ngModel)]="user.password" type="password" class="form-control" placeholder="Old Password" />
      </div>
      <div class="form-group col-xs-8 col-xs-offset-4">
        <input [(ngModel)]="user.newpassword" type="password" class="form-control" placeholder="New Password" />
      </div>
      <div class="form-group col-xs-8 col-xs-offset-4">
        <input [(ngModel)]="user.newpassword2" type="password" class="form-control" placeholder="New Password" />
      </div>

      <div class="col-xs-8 col-xs-offset-4">
        <button (click)="passwordchange(user)" class="btn btn-primary">Change Password</button>
        <p>Email: {{user.email}}</p>
    </div>
  </div>
</div>
</div>