<div class="search-container">
    <div class="search-row">
        <div class="search-button">
            <i class="fa fa-search search-image" aria-hidden="true"></i>
        </div>
    </div>
    <div class="search-row">
        <div class="search-button">
            <i class="fa fa-search search-image" aria-hidden="true"></i>
        </div>
    </div>
    <div class="search-row">
        <div class="search-button">
            <i class="fa fa-search search-image" aria-hidden="true"></i>
        </div>
    </div>
</div>