<header class="top_bar_container">
    <div class="row">
        <img src="https://s.w.org/about/images/wordpress-logo-notext-bg.png">
        <h1 class="col-sm-4">Stevent</h1>
        <nav class="col-sm-8">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="http://localhost:3000/app\components\authentication\login\login.component.html">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <h2>Student Events</h2>
            <h3>Perfect Application for every student in Turku!</h3>
            <a class="see-more" href="http://localhost:3000/app\components\home\welcome\overview\overview.component.html" role="button">See More!</a>
        </div>
    </div>

</div>

<div class="content_container"> 

</div>

<footer class="container">
    <div class="row">
        <p class="col-sm-4"> &copy; 2016 TeamEkat</p>
        <ul class="col-sm-8">
            <li class="col-sm-1"><a href="https://www.facebook.com/facebook">
                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg"></a>
            </li>
            <li class="col-sm-1"><a href="https://www.instagram.com/">
                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg"></a>
            </li>
            <li class="col-sm-1"><a href="https://twitter.com/?lang=fi">
            <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg"></a>
            </li>
        </ul>
    </div>
    </footer>
