/*Css for top content (header)*/
header {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10 0;
}

header .row {
  padding: 0;
}
header .row .col-xs-12{
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: black;
}

/*Css for middle section (jumbotron)*/
.jumbotron {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.jumbotron .row .col-xs-12 {
  display: flex;
  justify-content: center;
  padding: 5 0;
  
}
.jumbotron .row button {
  padding: 10 0;
  width: 200px;
  justify-content: flex-end;
}
/*Css for bottom section (footer)*/
footer {
  font-size: 12px;
  display: flex;
  justify-content: center;
  background-color: white;
}

h2, p {
  color:black;
  text-align: center;
}
