<header class="top_bar_container">
    <div class="row">
        <div class="col-xs-12">
            <img src="../../../../Images/Logo4.jpg" alt="stevent-logo" style="width:400px;height:100px;">
        </div>
    </div>
</header>

<div class= "jumbotron">
    <div class="row">
        <div class="col-xs-12">
            <h2>Perfect application for every student in Turku</h2>
        </div>
        <div class="col-xs-12">
            <p>Create Event. Join Event. Have Fun.</p>
        </div>
        <div class="col-xs-12">
            <button routerLink = "/login" class="btn btn-primary">Login</button>
        </div>
        <div class="col-xs-12">
            <button routerLink = "/signup" class="btn btn-primary">Signup</button>
        </div>
        <div class="col-xs-12">
            <p>Wanna see more?</p>
        </div>
        <div class="col-xs-12">
            <p>Just click the button!</p>
        </div>
        <div class="col-xs-12">
            <a routerLink = "/overview" class="glyphicon glyphicon-chevron-down"></a>
        </div>
    </div>
</div>

<footer class="bottom_bar_container">
    <div class="row">
        <div class="col-xs-12">
            <p>Team Ekat</p>
        </div>
    </div>
</footer>