<search-component></search-component>


<div class="container eventlist-container" style="padding-left: 0%; padding-right: 50px; margin-top: 20px; margin-bottom: 63px;">
  <h1 style="align-content: space-between; margin-left: 7.5%; margin-right: 7.5%;">Upcoming 
  <span style="color: #02C9C9">7</span>vents!</h1>

  <div *ngFor="let event of events">
    <div class="row">
      <div routerLink="/event/{{event._id}}" class="col-xs-12 event_card">

        <div class="row">
          <div class="col-xs-12" style="padding: 0px;">
            <h4 style="font-size: 22px;"><i class="fa fa-futbol-o" aria-hidden="true"></i>  {{event.name}}</h4>
            <p *ngIf="event.startTime">{{event.startTime | date:'medium'}}</p>
            <p *ngIf="event.attendingUsers">Attending: {{event.attendingUsers.length}}/{{event.maximumAttendees}}</p>
            <p *ngIf="event.address && event.address.formatted_address">{{event.address.formatted_address}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>