header {
  display: flex;
  justify-content: center;
}

header .row {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0 20px;
}

header .row .col-sm-12{
  display: flex;
  justify-content: center;
}

header a {
  font-size: 18px;
  padding: 0 10px;
  justify-content: flex-end;
  color: white;
}

header nav {
  align-items: center-bottom;
}

header .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  word-spacing: normal;
}

header ul {
  display: inline;
  align-items: flex-end;
  justify-content: flex-end;
}

header li {
  list-style: none;
}

#login-header {
    margin-top: 50vh;
    /*text-align: right;*/
}
