header {
  display: flex;
  justify-content: center;
}

header .row {
  display: flex;
  align-items: flex-end;
  background-color: #000000;
  padding: 20px;
}

header .row .col-sm-12{
  display: flex;
  justify-content: center;
}

header a {
  font-size: 18px;
  padding: 10px;
  justify-content: center;
  color: #FFFFFF;
}

header nav {
  align-items: center-bottom;
}

header .col-sm-8 {
  display: flex;
  justify-content: center;
  word-spacing: normal;
}

header ul {
  display: inline;
  align-items: flex-end;
  justify-content: center;
}

header li {
  list-style: none;
}

#login-header {
  margin-top: 5vh;
  text-align: left;
  align-items: flex-end;
}

p {
  font-family: monospace;
}

#login-combo {
  align-items: flex-end;
}
