<div class="container-fluid" id="footer" *ngIf="auth.authenticated()">
  <div class="row">

    <div class="col-xs-3" align="middle" (click)="auth.login()" *ngIf="!auth.authenticated()" >
      <a  ><h2 align="middle"><i class="fa fa-plus" aria-hidden="true"></i></h2></a>
    </div>
    <div class="col-xs-3" align="middle" *ngIf="auth.authenticated()" >
      <a routerLink="/newEvent" ><h2 align="middle"><i class="fa fa-plus" aria-hidden="true"></i></h2></a>
    </div>
    <div class="col-xs-3">
      <a routerLink="/eventMap"><h2 align="middle"><i class="fa fa-globe" aria-hidden="true"></i></h2></a>
    </div>

    <div class="col-xs-3">
      <a routerLink="/eventList"><h2 align="middle"><i class="fa fa-list" aria-hidden="true" ></i></h2></a>
    </div>

    <div class="col-xs-3">
      <a routerLink="/profile" *ngIf="auth.authenticated()"><h2 align="middle"><i class="fa fa-user" aria-hidden="true"></i></h2></a>
    </div>
    
  </div>
</div>