<div class="container" style="height: 100%;">
    <div *ngIf="event" class="row">

        <div class="col-xs-12">
            <h1>{{event.name}} <small>{{event.category}}</small></h1>
            <p>{{event.description}}</p>
            <p>Host: {{event.owner.nickname}}</p>
            <hr>
            <p>{{event.address.formatted_address}}</p>
        </div>

        <div class="col-xs-6">
            <p>Attending: {{event.attendingUsers.length}}</p>
        </div>
        <div class="col-xs-6" *ngIf="!joined">
            <button (click)="joinEvent(event._id)" class="btn btn-custom btn-lg pull-right">I'm in!</button>
        </div>
        <div class="col-xs-6" *ngIf="joined">
            <button (click)="leaveEvent(event._id)" class="btn btn-custom btn-lg pull-right">Cancel join</button>
        </div>
        <div class="col-xs-12" style="margin-bottom: 63px; margin-top: 40px;">
            <button routerLink="/eventList" class="btn btn-block">Return</button>
        </div>
    </div>
</div>