header {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px 0px 10px 0px;
}

header .row {
  padding: 0px;
}
header .row .col-xs-12 {
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.jumbotron .col-xs-12{
    display: flex;
    justify-content: center;
    margin: 0px;
}
p {
    margin: 0px;
}
.jumbotron .col-xs-12 .btn.group.vertical {
    display: flex;
    justify-content: center;
}
.jumbotron .col-xs-12 .btn.group.horizontal {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
#map {
    display: flex;
    justify-content: center;
    height: 50%;
    margin: 0px;
}