
<div>
<head>
  <title>overview component</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <header class="top_bar_container">
  <div class="row">
    <div class="col-sm-12">
      <img src="../../../../Images/Logo4.jpg" alt="stevent-logo" style="width:400px;height:100px;">
    </div>  
  </div>
</header>

<div class="wrapper">
   <div class="carousel">
     <ul class="slides">
       <li *ngFor="let event of events">
         <h2>{{event.title}}</h2>
         <img src="{{event.url}}" alt="">
         <p>{{event.description}}</p>
         <p>{{event.location}}</p>
       </li>
     </ul>
  </div>  
 
  <div class="container text-center">    
    <h3>What are you interested in?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <img src="../../../../Images/soccer.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Sports</p>
      </div>
      <div class="col-sm-4"> 
        <img src="../../../../Images/ruoka.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Food</p>    
      </div>
      <div class="col-sm-4"> 
        <img src="../../../../Images/finnishsauna.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Culture</p>    
      </div>
      <div class="col-sm-4"> 
        <img src="../../../../Images/preschool.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>More</p>    
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>Get involved! Get connected!</p>
  </footer>
</div>
