<div>
<header class="top_bar_container">
  <div class="row">
    <div class="col-sm-12">
      <img src="../../../../Images/Logo4.jpg" alt="stevent-logo" style="width:400px;height:100px;">
    </div>  
  </div>
</header>
</div>
<div class="container-fluid">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">7Event</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Food <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Culture</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">More</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><span routerlink="/signup" class="glyphicon glyphicon-user"></span> Sign Up </li>
        <li><span routerlink="/login" class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
    <div class="col-xs-4">
      <h3>Find, join and create events near you. </h3>
       <p> Join for free together with community of university students!
        Your events, their events – your world.</p>
    </div>

    <div class="col-xs-4">
      <p>Simple and intuitive user experience. For mobile and desktop. 
        Your events, their events – your world.</p>
    </div>
  </div>

</div>

