<div class="container-fluid">
  
  <div class="row">
    <div class="col-xs-4" "textbox">
      <p>Find, join and create events near you. 
        Join for free together with community of university students!
        Your events, their events – your world.</p>
    </div>
    <div class="col-xs-8" "textbox">
      <img src="http://i.imgur.com/yncUcqS.jpg"> 
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <img src="http://i.imgur.com/IMszuUI.jpg">
    </div>
    <div class="col-xs-4">
      <p>Simple and intuitive user experience. For mobile and desktop. 
        Your events, their events – your world.</p>
    </div>
  </div>

</div>
