<div class="searchContainer">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off"
    autocapitalize="off" spellcheck="off" type="text"
    class="form-control" #search [formControl]="searchControl">
  </div>
</div>

<sebm-google-map
[latitude]="lat || event.location.lat"
[longitude]="lng || event.location.lng" 
[zoom]="zoom"
[zoomControl]="false"
[disableDefaultUI]="false"
>
<div *ngFor="let event of events; let i = index"> 
  <sebm-google-map-marker
  *ngIf="event.location && event.location.lat && event.location.lng"
  [latitude]="event.location.lat"
  [longitude]="event.location.lng">

    <sebm-google-map-info-window>
      <strong>{{event.name}}</strong>
      <p>{{event.owner}}</p>
      <hr>
      {{event.address.formatted_address}}
    </sebm-google-map-info-window>
    
  </sebm-google-map-marker>
</div>


</sebm-google-map>