<div class="searchContainer">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off"
    autocapitalize="off" spellcheck="off" type="text"
    class="form-control" #search [formControl]="searchControl">
  </div>
</div>

<sebm-google-map 
[latitude]="lat || event.location.lat"
[longitude]="lng || event.location.lng" 
[zoom]="zoom" 
[zoomControl]="true"
[disableDefaultUI]="true"
>

  <sebm-google-map-marker 
  *ngFor="let event of events; let i = index" 
  (markerClick)="clickedMarker($event)" 
  [latitude]="event.location.lat"
  [longitude]="event.location.lng">

    <sebm-google-map-info-window>
      <strong>{{event.eventName}} | {{event.eventOwner}}</strong>
      <!--<hr>-->
      <!--<p>{{event.address.formatted_address}}</p>-->
    </sebm-google-map-info-window>
    
  </sebm-google-map-marker>


</sebm-google-map>