<header class="top_bar_container">
    <div class="row">
        <div class="col-xs-12">
            <img src="../../../../Images/logo-2.png" alt="stevent-logo" style="width:400px;height:100px;">
        </div>
    </div>
</header>

<div class="jumbotron">
    <div class="col-xs-12">
        <p>Active events around you!</p>
    </div>
    <div class="col-xs-12">
        <div class="btn-group-horizontal">
            <button type="button" class="btn btn-primary">All</button>
            <button type="button" class="btn btn-primary">Food</button>
            <button type="button" class="btn btn-primary">Culture</button>
            <button type="button" class="btn btn-primary">Sport</button>
        </div>
    </div>
    <div class="col-xs-12" id="map">
        "<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1967.3285213122365!2d22.28292511637128!3d60.45630002719464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468c76e7b0d67ded%3A0xf2066fe5769c9801!2sTurun+yliopisto!5e0!3m2!1sfi!2sfi!4v1480250091251" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>"
        
    </div>
    <div class="col-xs-12">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-primary">Create Event</button>
            <button type="button" class="btn btn-primary">Search Event</button>
            <button type="button" class="btn btn-primary">My Events</button>
        </div>
    </div>
</div>