header {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10 0;
}

header .row {
  padding: 0;
}
header .row .col-xs-12{
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: black;
}

.jumbotron .col-xs-12{
    display: flex;
    justify-content: center;
    margin:  0;
}
p{
    margin: 0;
}
.jumbotron .col-xs-12 .btn.group.vertical{
    display: flex;
    justify-content: center;
}
.jumbotron .col-xs-12 .btn.group.horizontal{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#map{
    display: flex;
    justify-content: center;
    height: 50%;
    margin: 0;
}