.menu_container {
  display: flex;
  justify-content: center; 
  background-color: black;
}

.menu_container ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.menu_container .menu_items li {
  float: left;
}

.menu_container .menu_items a {
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_container .menu_items a:hover {
    background-color: #111;
}

.active { /* for currently active tab */
    background-color: #0d6ebd;  
}
