
<div>
<head>
  <title>overview component</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <header class="top_bar_container">
  <div class="row">
    <div class="col-sm-12">
      <img src="../../../../images/Logo4.jpg" alt="stevent-logo" style="width:400px;height:100px;">
    </div>  
  </div>
</header>

   <div class="carousel">
     <ul class="slides">
       <li *ngFor="let event of events">
         <h2>{{event.title}}</h2>
         <img src="{{event.url}}" alt="">
         <p>{{event.description}}</p>
         <p>{{event.location}}</p>
       </li>
     </ul>
  </div>  
 <div class="wrapper">
  <div class="container text-center">    
    <h3>What are you interested in?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <img src="../../../../images/soccer.jpg" class="img-responsive" style="width:100%" alt="Image">
        <button routerLink="/login" class="btn btn-primary">Sports</button>
      </div>
      <div class="col-sm-4"> 
        <img src="../../../../images/ruoka.jpg" class="img-responsive" style="width:100%" alt="Image">
        <button routerLink="/login" class="btn btn-primary">Food</button>    
      </div>
      <div class="col-sm-4"> 
        <img src="../../../../images/finnishsauna.jpg" class="img-responsive" style="width:100%" alt="Image">
        <button routerLink="/login" class="btn btn-primary">Culture</button>
      </div>
      <div class="col-sm-4"> 
        <img src="../../../../images/preschool.jpg" class="img-responsive" style="width:100%" alt="Image">
        <button routerLink="/login" class="btn btn-primary">More</button>
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span>Get involved! Get connected! </a></li>
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
  </footer>
</div>
