<div class="container"> 
      <form method="POST" novalidate (ngSubmit)="onSubmit()" [formGroup]="event">
    
        <label class="control-label col-md-4" >
             <span>Event Title</span>
             <input type="text" placeholder="Event title *" formControlName="eventName">
        </label>
             <div class="error" *ngIf="event.get('eventName').touched 
             && event.get('eventName').hasError('required')">
              Title is required
             </div>

      <div class="error" *ngIf="event.get('eventName').touched 
      && event.get('eventName').hasError('minlength')">
        Minimum of 2 characters
      </div>
 
   <div formGroupName="eventDescription">
            <label class="control-label col-md-4" >
                <span>Date</span>
                <input type="date"  formControlName="date">
            </label>
                    <div class="error" *ngIf="event.get('eventDescription').get('date').hasError('required') 
                    && event.get('eventDescription').get('date').touched">
                    
                     Date is required

                   </div>

            <div class="control-label col-md-4">
                <label class="control-label col-md-4" >
                    <span>Time</span>
                    <input type="time" formControlName="time">
                 </label>
             </div>
             <div class="error" *ngIf="event.get('eventDescription').get('time').hasError('required')
              && event.get('eventDescription').get('time').touched">

               Time is required

             </div>

         <div class="control-label col-md-4">
              <label class="control-label col-md-4" >
             <span>Description</span>
              <textarea rows="16" class="form-control"  placeholder="Tell People about your event" formControlName="description"></textarea>
        </label>
                <div class="error" *ngIf="event.get('eventDescription').get('description').hasError('required')
             && event.get('eventDescription').get('description').touched">

              Event Description is required

               </div>

         </div>
     </div>
           <div class="control-label col-md-4">
              <label class="control-label col-md-4" >
               <button type="submit" class="btn btn-custom btn-lg pull-right">Create</button>
               <button type="cancel" class="btn btn-custom btn-lg pull-left">Cancel</button>
            </label>
           </div>

    </form>
</div>