
<!-- Justus's code:
<div class="container" style="margin-bottom: 63px;">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-12" style="max-height: 150px; align-content: center;">
            <img class="img-circle" style="width:70%; height: 150px; align-content: center;" src="{{profile.picture}}">
        </div>
        <div class="col-xs-12" style="margin-bottom: 15px;">
            <div class="row">
                <p>{{profile.nickname}}'s profile</p>
                <p>Email: {{profile.name}}</p>
                <p>Last Update: {{profile.created_at}}</p>
                <div class="col-xs-12" *ngIf="auth.authenticated()">
                    <button (click)="auth.logout()" routerLink="/" class="btn btn-custom btn-lg btn-block">Logout</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="row">
                <div class="btn-group btn-group-justified btn-block">
                    <a href="#" class="btn">Joined</a>
                    <a href="#" class="btn">Hosted</a>
                    <a href="#" class="btn">Past</a>
                </div>
            </div>
        </div>
        -->

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h1><img class="img-circle img-responsive" src="{{profile.picture}}"></h1>
        </div>
        <div class="col-xs-8">
            <h1>{{profile.nickname}}</h1>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>My upcoming events</h2>

        </div>

        <div *ngIf="auth.authenticated()">
            <button (click)="auth.logout()" routerLink="/" class="btn btn-custom btn-lg pull-right">Logout</button>
        </div>
    </div>
</div>