<div class="container" style="margin-bottom: 63px;">
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-12" style="max-height: 150px; align-content: center;">
            <img class="img-circle" style="width:70%; height: 150px; align-content: center;" src="{{profile.picture}}">
        </div>
        <div class="col-xs-12" style="margin-bottom: 15px;">
            <div class="row">
                <p>{{profile.nickname}}'s profile</p>
                <p>Email: {{profile.name}}</p>
                <p>Last Update: {{profile.created_at}}</p>
                <div class="col-xs-12" *ngIf="auth.authenticated()">
                    <button (click)="auth.logout()" routerLink="/" class="btn btn-custom btn-lg btn-block">Logout</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="row">
                <div class="btn-group btn-group-justified btn-block">
                    <a href="#" class="btn">Joined</a>
                    <a href="#" class="btn">Hosted</a>
                    <a href="#" class="btn">Past</a>
                </div>
            </div>
        </div>

        <div *ngFor="let event of events">
            <div class="row">
                <div class="col-xs-12 event_card">

                    <div class="row">
                        <div class="col-xs-12" style="padding: 0px;">
                            <h4 style="font-size: 22px;"><i class="fa fa-futbol-o" aria-hidden="true"></i> {{event.name}}</h4>
                            <p *ngIf="event.startTime">{{event.startTime | date:'medium'}}</p>
                            <p *ngIf="event.address && event.address.formatted_address">{{event.address.formatted_address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>