/*Css for middle section (jumbotron)*/
.jumbotron {
  /*display: flex;*/
  justify-content: center;
  /*margin: 0px;*/
  /*padding: 0px;*/
  /*height: 100%;*/
}

.jumbotron .row .col-xs-12 {
  /*/*display: flex;*/
  justify-content: center;
  /*padding: 5px 0px 5px 0px;*/*/
}
.jumbotron .row button {
  /*padding: 10px 0px 10px 0px;
  /*width: 200px;*/
  justify-content: flex-end;
}
/*Css for bottom section (footer)*/
footer {
  font-size: 12px;
  display: flex;
  justify-content: center;
  background-color: white;
}

h2, p {
  color: #1B1B1B;
  text-align: center;
}
