<div class="container container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img class="img-circle" style="width:100%" src="{{profile.picture}}">
        </div>
        <div class="col-md-10">
            <h1>{{profile.nickname}}'s profile</h1>
            <p>Email: {{profile.name}}</p>
            <p>Last Update: {{profile.created_at}}</p>
        </div>

        <div class="row event_card">
            <div class="col-xs-12">
                <!--event image-->
                <div class="col-xs-12">
                    <h2 class="event-category">Event attended</h2>
                    <img src="../../../../images/ruoka.jpg" class="img-responsive" style="width:100%" alt="Image">
                </div>
                <!--/.event image-->
                <!--event content-->
                <div class="event-block">
                    <p class="card-text">Some text about the event attended.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
                <!--/.event content-->
            </div>
        </div>

        <div class="row event_card">
            <div class="col-xs-12">
                <h2 class="event-block">Event organized</h2>
                <!--event image-->
                <div class="col-xs-12">
                    <img src="../../../../images/finnishsauna.jpg" class="img-responsive" style="width:100%" alt="Image">
                </div>
                <!--/.event image-->
                <!--event content-->
                <div class="event-block">
                    <p class="event-text">Some text about the event .</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
                <!--/.event content-->
            </div>
        </div>

        <div class="row event_card">
            <div class="col-xs-12">
                <h2 class="event-block">Future Events</h2>
                <div class="col-xs-12">
                    <img src="../../../../images/soccer.jpg" class="img-responsive" style="width:100%" alt="Image">
                </div>
                <!--event content-->
                <div class="event-block">
                    <p class="event-text">Some text about the event..</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
                <!--/.event content-->
            </div>
        </div>
    </div>
</div>