<!--<div class="events">
  <ul class="slides">
    <li>
      <h2>Sports</h2>
      <img src="../../../../Images/soccer.jpg" alt="soccer">
    </li>
    <li>
      <h2>Culture</h2>
      <img src="../../../../Images/finnishsauna.jpg" alt="sauna">
    </li>
    <li>
      <h2>Food</h2>
      <img src="../../../../Images/ruoka.jpg" alt="ruoka">
    </li>
    <li>
      <h2>Gathering</h2>
      <img src="../../../../Images/generation.jpg" alt="gathering">
    </li>
    <li>
      <h2>More</h2>
      <img src="../../../../Images/preschool.jpg" alt="more">
    </li>
  </ul>
</div>-->

<div class="container">

</div>