.eventlist-container {
    margin-top: 20vh;
}


.event_card {
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.2);
    /*margin-left: 5px;*/
    margin-bottom: 30px;
}

.event_card:hover {
    box-shadow: 0 0 1px 4px rgba(2,201,201,0.8);
    border: none;
}