<search-component></search-component>
<div class="container eventlist-container">


  <div *ngFor="let event of events">
    <div class="row">
      <div class="col-xs-9 event_card">

        <div class="row">
          <div class="col-xs-2">
            <h2><i class="fa fa-futbol-o" aria-hidden="true"></i></h2>
          </div>
          <div class="col-xs-10">
            <h4>{{event.name}}</h4>
            <p *ngIf="event.startTime">{{event.startTime | date:'medium'}}</p>
            <p *ngIf="event.address && event.address.formatted_address">{{event.address.formatted_address}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>